.random-saved-album-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin-left: 8px;

  button {
    display: flex;
    align-items: center;
    position: relative;
  }
}
