.random-saved-album-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin-left: 8px;

  button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;

    cursor: pointer;
    color: rgba(var(--spice-rgb-selected-row), .7);
    background-color: transparent;
    border: none;

    svg {
      fill:rgba(var(--spice-rgb-selected-row), .7);

      &:hover {
        fill: var(--spice-text);
      }
    }

    &:hover {
      background-color: rgba(var(--spice-rgb-selected-row), .1);
      border-radius: 50%;
      color: var(--spice-text);
    }
  }
}